@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family:"WorkSans-Italic-VariableFont_wght" ;
    src: url("../src/assets/fonts/WorkSans-Italic-VariableFont_wght.ttf");
}
@font-face {
    font-family: "WorkSans-VariableFont_wght";
    src: url("../src/assets/fonts/WorkSans-VariableFont_wght.ttf");
}

.WorkSans-Italic-VariableFont_wght{
    font-family:"WorkSans-Italic-VariableFont_wght" ;
}
.WorkSans-VariableFont_wght{
    font-family: "WorkSans-VariableFont_wght";
}